@import "tailwindcss/base";
 @import "tailwindcss/components";
 @import "tailwindcss/utilities";

 html {
     font-size: 11px;
     overflow-x: hidden; 
   
}
 a {
     color: inherit;
     text-decoration: none;
}
 * {
     box-sizing: border-box;
}
 ::-webkit-scrollbar {
     width: 4px;
}
 ::-webkit-scrollbar-track {
     background: #1e222a;
     border-radius: 10px;
}
 ::-webkit-scrollbar-thumb {
     background: #7EC7A2;
     border-radius: 8px;
}
 ::-webkit-scrollbar-thumb:hover {
     background: #7EC7A2;
}

 ::selection {
     color: #7EC7A2;
     background: #1e222a;
}


 .TypewriterFont {
     position: absolute;
     width: min-content;
     height: min-content;
     margin: 0;
     padding: 0;
     top:20%;
     left: 50%;
     transform: translateX(-50%);
     color: #ffff;
     z-index:100;
     @media (max-width: 425px) {
    }
}

.HeroBtn {
    
    position: absolute;
    width: min-content;
    height: min-content;
    margin: 0;
    padding: 0;
    top:60%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffff;
    z-index:100;
    @media (max-width: 425px) {
   }
}
 .Center {
     position: relative;
     padding: 2rem;
     white-space: nowrap;
     @media (max-width: 768px) {
    }
}
